{% extends "questionarios/base.html" %}


{% block conteudo %}
<div class="row">
    <div class="col-lg-12">
        <p><h5>Questionario: {{questionario.nome}}, id: {{questionario.id}}</h5></p>

        confirme a ação informando o id do questionario
        
        <form method="post">
            {% csrf_token %}
            {% include "includes/form.html" with form=form %}
            <button type="submit" class="btn btn-danger">Apagar</button>
            <a href="{% url "questionarios:list" %}" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {% include "includes/related_objects.html" with obj=questionario %}
    </div>
</div>

{% endblock %}