{% extends "questionarios/base.html" %}

{% block conteudo %}

<div class="row">
    <div class="col-lg-12">
    <p><h5>Questionario: {{object.nome}}</h5></p>

    <p>
        <a class="btn btn-primary" href="{% url "questionarios:list" %}">Voltar</a>
        <a id="salvar_ordem" class="btn btn-success" href="#" >Salvar</a>
        <a class="btn btn-primary" href="{% url "questionarios:list" %}">Recarregar</a>
    </p>
    
    <ul id="sortable" class="list-group">
        {% include "questionarios/includes/pergunta.html" with perguntas_do_questionario=object.perguntas_do_questionario %}
    </ul>
    </div>
</div>

{% endblock %}

{% block js %}

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
    $("#salvar_ordem").click(function () {
        
        var children = $("#sortable").children();

        for (var i = 0; i < children.length; i++){
            
            var id = $(children[i]).attr("id");

            var old_i = parseInt($("#ordem_"+id).html()) - 1;

            var new_i = i + 1;
            update = false;
            if(i != old_i){
                $.get("{% url "questionarios:ordenar_submit" %}", {"id":id, "ordem": new_i}, function(data){
                /*
                verificar porque esta linha de codigo não funciona aqui dentro
                $("#ordem_"+id).html(new_i); 
                */
                });
                $("#ordem_"+id).html(new_i);
            }
        }
    });

    $( "#sortable" ).sortable();
  
} );
</script>

{% endblock js %}