{% extends "questionarios/base.html" %}

{% block conteudo %}

<div class="row">
    <div class="col-lg-12">
        <h3>
            {{object.variavel}}
        </h3>
        <h3>
            {{object.verbose_name_tipo}}
            {% if object.tipo == 0 %}
            - {{object.perguntaescolha.multipla_verbose}}
            {% endif %}
        </h3>
        
        <p>
            {{object.texto}}
        </p>
        <p>
        {% if object.tipo == 0 %}
        <h3>Escolhas:</h3>
        <ul class="list-group">
        {% for escolha in object.perguntaescolha.possiveis_escolhas.all %}
            <li class="list-group-item"><p>{{escolha.texto}}</p></li>
        {% empty %}
            <li class="list-group-item">Não existem escolhas</li>
        {% endfor %}
        </ul>
        {% endif %}
        </p>
    
        <h5>
            Pergunta Requisito:
            {% with perguntas_requisito=object.perguntarequisito_set_fake_delete %}
            {% for requisito in perguntas_requisito %}
            <a href="{% url "questionarios:pergunta_detail" requisito.pergunta_requisito.pergunta.pk %}" target="_blank">{{requisito}}</a>,
            {% empty %}
                Sem Pergunta Requisito
            {% endfor %}
            {% endwith %}
        </h5>
        <h5>Escolha Requisito:
            {% with escolhas=object.escolharequisito_set_fake_delete %}
            {% for escolha in escolhas %}
            <a href="{% url "questionarios:pergunta_detail" escolha.pergunta.pk %}" target="_blank">{{escolha}}</a>,
            {% empty %}
                Sem Escolha Requisito
            {% endfor %}
            {% endwith %}
        </h5>
    </div>
</div>

{% endblock %}