{% extends "questionarios/base.html" %}

{% block conteudo %}

<div class="row">
    <div class="col-lg-12">
        <h3>
            <p><b>Questionario:</b> {{pergunta_do_questionario.questionario}}</p>
            <p><b>Ordem:</b> {{pergunta_do_questionario.ordem}}</p>
            <p><b>Pergunta Tipo:</b> {{object.verbose_name_tipo}}</p>
        </h3>
        
        <form method="post">
            {% csrf_token %}
            {% include "includes/form.html" with form=form %}
            
            <a class="btn btn-primary" href="{% url "questionarios:list" %}">Voltar</a>
            
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
</div>

{% if object.pergunta_requisito %}
<div class="row" style="padding-top:10px;">
    <div class="col-lg-12">
        <div class="alert alert-warning">
            <h4 style="color:red;">Pergunta Requisito Ignorada</h4>        
            <p>Pergunta Requisito: <b>{{object.pergunta_requisito}}</b></p>
            <p style="color:red;">Refaça selecionando abaixo.</p>        
        </div>
    </div>
</div>
{% endif %}

{% if object.possivel_escolha_requisito %}
<div class="row" style="padding-top:10px;">
    <div class="col-lg-12">
        <div class="alert alert-warning">
            <h4 style="color:red;">Possivel Escolha Requisito Ignorada</h4>
            <p>Possivel Escolha Requisito: <b>{{object.possivel_escolha_requisito}}</b></p>
            <p style="color:red;">Refaça selecionando abaixo.</p>        
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-lg-12">
        <h4>Perguntas Requisito</h4>

        <p>*<b>Questionario</b> <b style="color:blue">Pergunta</b></p>

        <ul class="list-group">
        {% for requisito in object.perguntarequisito_set_fake_delete %}
        
        <li class="list-group-item">
            <b>{{requisito.pergunta_requisito.questionario}}</b> <b style="color:blue">{{requisito.pergunta_requisito.pergunta}}</b> <b style="color:red">{{requisito.escolha_requisito.texto}}</b>
            <a href="{% url "questionarios:perguntarequisito_delete" pergunta_do_questionario.pk requisito.pk %}"><span class="badge badge-secondary">Remover</span></a>
        </li>
        {% empty %}
        
        <li class="list-group-item">Sem Pergunta Requisito</li>
        
        {% endfor %}
        </ul>
        
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-primary" href="{% url "questionarios:perguntarequisito_create" pergunta_do_questionario.pk %}">Adicionar Pergunta Requisito</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>Escolhas Requisito</h4>
        <p>*<b>Questionario</b> <b style="color:blue">Pergunta</b> <b style="color:red">Escolha</b></p>
        <ul class="list-group">
        {% for requisito in object.escolharequisito_set_fake_delete %}
        
        <li class="list-group-item">
            <b>{{requisito.questionario}}</b> <b style="color:blue">{{requisito.escolha_requisito.pergunta}}</b> <b style="color:red">{{requisito.escolha_requisito.texto}}</b>
            <a href="{% url "questionarios:escolharequisito_delete" pergunta_do_questionario.pk requisito.pk %}"><span class="badge badge-secondary">Remover</span></a>
        </li>
        {% empty %}
        
        <li class="list-group-item">Sem Pergunta Requisito</li>
        
        {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-primary" href="{% url "questionarios:escolharequisito_create" pergunta_do_questionario.pk %}">Adicionar Escolha Requisito</a>
    </div>
</div>

{% if object.tipo == 0 %}

<div class="row">
    <div class="col-lg-12">
        <h4>Possiveis Escolhas</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <ul class="list-group">
        {% for a in object.possiveis_escolhas_fake_delete %}
            <li class="list-group-item">{{a.texto}}
                <a href="{% url "questionarios:update_possivelescolha" pergunta_do_questionario.pk a.pk %}"><span class="badge badge-secondary">Editar</span></a>
                <a href="{% url "questionarios:delete_possivelescolha" pergunta_do_questionario.pk a.pk %}"><span class="badge badge-secondary">Remover</span></a>
            </li>
        {% empty %}
            <li class="list-group-item">Não existem escolhas</li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-primary" href="{% url "questionarios:create_possivelescolha" pergunta_do_questionario.pk %}">Adicionar Escolha</a>
    </div>
</div>
{% endif %}

{% endblock %}
