{% extends "questionarios/base.html" %}

{% block conteudo %}

{% for resposta in object_list %}
<div class="row">
    <div class="col-lg-12">
        <p><b>Questionario: </b> {{resposta.questionario}}</p>
        <p><b>Proposto por: </b> {{resposta.questionario.usuario}}</p>
        <p><b>Aplicado na Área: </b> {{resposta.setor_censitario}}</p>
        <p><b>Respondido por: </b> {{resposta.usuario}}</p>
        <p>
            {% include 'core/includes/timed.html' with timed_object=resposta %}
        </p>
        <a class="btn btn-primary" href="{% url 'questionarios:respostaquestionario_detail' resposta.pk %}">ver
            resposta</a>
    </div>
</div>
{% empty %}

<div class="row">
    <div class="col-lg-12">
        Sem respostas!
    </div>
</div>

{% endfor %}


{% endblock %}