{% extends "questionarios/base.html" %}

{% block conteudo %}
<div class="row">
    <div class="col-lg-12">
        <h3>
            <p><b>Questionario: </b> {{object.questionario}}</p>
            <p><b>Grupo: </b> {{object.questionario.grupo}}</p>
            <p><b>Area: </b> {{object.setor_censitario}}</p>
            <p><b>Usuario: </b> {{object.usuario}}</p>
        </h3>
        <hr>
        {% for resposta in object.perguntas.all %}

        <h5><b>Variavel: </b>{{resposta.pergunta.variavel}}</h5>        
        <h5>{% include 'questionarios/includes/pergunta/tipo.html' with pergunta=resposta.pergunta %}</h5>
        <p>{{resposta.pergunta.texto}}</p>
        <h5><b>Resposta:</b></h5>
        {% include 'questionarios/includes/resposta/resposta.html' with resposta=resposta %}
        <hr>
        {% empty %}

        <div class="row">
            <div class="col-lg-12">
                Sem respostas!
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}