{% load static %}
<!DOCTYPE html>

<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="PMSB">
  <meta name="author" content="">
  <meta name="keyword" content="">
  <title>PMSB</title>
  <!-- Icons-->
  <link href="{% static 'node_modules/coreui/icons/css/coreui-icons.min.css' %}" rel="stylesheet">
  <link href="{% static 'node_modules/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
  <link href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'node_modules/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
  <!-- Main styles for this application-->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/pace-progress/css/pace.min.css' %}" rel="stylesheet">
</head>

{% block body %} {% endblock %}

<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'node_modules/pace-progress/pace.min.js' %}"></script>
<script src="{% static 'js/jquery.mask.js' %}"></script>
<script src="{% static 'node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'node_modules/coreui/coreui/dist/js/coreui.min.js' %}"></script>

</html>