{% extends 'conta/base.html' %} {% block body %}
<body class='container'>
    <header class="header1" style="width: 59%; margin-left: auto;">
    </header>
    <form action="{% url 'registrar' %}" onsubmit="remover_mascaras(this)" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <h1 style="text-align: center;">Cadastro para acesso ao projeto</h1>
                            <p class="text-muted" style="text-align: center;">Crie a sua conta</p>
                            {% if Erro %}
                            <p style="text-align: center; color: red;"> Ocorreu um erro !</p>
                            {% endif %} {{ formulario_User.as_p }}
                            <br>
                            <button type="submit" id='myForm' class="btn btn-lg btn-block btn-outline-primary">Enviar dados para análise</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
{% endblock %}