{% extends 'conta/base.html' %} {% block body %}

<body class="app flex-row align-items-center fullscreen_bg">
    <div class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8" style="text-align: left;">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title" style="text-align: center;">Cadastro com as seguintes informações:</h4>
                                    <hr>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-3 " align="center">
                                            <img alt="User Pic" src="{{MEDIA}}{{new_user.foto.url}}" class="img-circle img-responsive"> </div>
                                        <div class=" col-md-9 col-lg-9 ">
                                            <table class="table table-user-information">
                                                <tbody>
                                                    <tr>
                                                        <td>Nome completo:</td>
                                                        <td>{{new_user.first_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nome usual no projeto:</td>
                                                        <td>{{new_user.last_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CPF:</td>
                                                        <td class="cpf" id="cpf">{{new_user.username}}</td>
                                                    </tr>
                                                    <tr>
                                                        <tr>
                                                            <td>Email:</td>
                                                            <td>
                                                                <a href="mailto:info@support.com">{{new_user.email}}</a>
                                                            </td>
                                                        </tr>
                                                        <td>Telefone-Celular:</td>
                                                        <td class="phone_with_ddd" id="phone_with_ddd_celular">{{new_user.telefone_celular}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <hr>
                                    <h4 class="panel-title" style="text-align: center;">Foi efetuado com sucesso, esperar mais informações via e-mail.</h4>
                                    <div style="text-align:center; margin:auto;">
                                        <a href="{% url 'conta:login' %}" class="btn btn-primary " style="float: center;">Voltar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}