
{% for pergunta_do_questionario in perguntas_do_questionario %}

<li id="{{pergunta_do_questionario.pk}}" class="list-group-item">
    <h3>
        <span id="ordem_{{pergunta_do_questionario.pk}}">{{pergunta_do_questionario.ordem}}</span> - {{pergunta_do_questionario.pergunta.variavel}}
    </h3>
    <h3>
        {{pergunta_do_questionario.pergunta.verbose_name_tipo}}
        {% if pergunta_do_questionario.pergunta.tipo == 0 %}
        - {{pergunta_do_questionario.pergunta.perguntaescolha.multipla_verbose}}
        {% endif %}
    </h3>
    
    <p>
        {{pergunta_do_questionario.pergunta.texto}}
    </p>
    <p>
    {% if pergunta_do_questionario.pergunta.tipo == 0 %}
    <h3>Escolhas:</h3>
    <ul class="list-group">
    {% for escolha in pergunta_do_questionario.pergunta.perguntaescolha.possiveis_escolhas_fake_delete %}
        <li class="list-group-item"><p>{{escolha.texto}}</p></li>
    {% empty %}
        <li class="list-group-item">Não existem escolhas</li>
    {% endfor %}
    </ul>
    {% endif %}
    </p>

    <h5>
        Pergunta Requisito:
        {% with perguntas_requisito=pergunta_do_questionario.pergunta.perguntarequisito_set_fake_delete %}
        {% for requisito in perguntas_requisito %}
        <a href="{% url "questionarios:pergunta_detail" requisito.pergunta_requisito.pergunta.pk %}" target="_blank">{{requisito}}</a>,
        {% empty %}
            Sem Pergunta Requisito
        {% endfor %}
        {% endwith %}
    </h5>
    <h5>Escolha Requisito:
        {% with escolhas=pergunta_do_questionario.pergunta.escolharequisito_set_fake_delete %}
        {% for escolha in escolhas %}
        <a href="{% url "questionarios:pergunta_detail" escolha.pergunta.pk %}" target="_blank">{{escolha}}</a>,
        {% empty %}
            Sem Escolha Requisito
        {% endfor %}
        {% endwith %}
    </h5>
</li>

{% empty %}
<li class="list-group-item">Nenhuma pergunta</li>
{% endfor %}