{% extends "base/base.html" %} {% block conteudo %}
<div class="card-body p-4">
    <h2 style="text-align: center;">{{relatorio_object}}</h2>
    <h5 class="text-muted" style="text-align:center;"> Lista de figuras deste relatorio </h5>
    <hr>
    <a class="btn btn-primary" href="{% url 'relatorios:create_figura' relatorio_object.pk %}">
        <i aria-hidden="true" data-hidden="true" class="fa fa-image" style="color:white;"></i>Nova Figura</a>
    <a class="btn btn-primary" href="{% url 'relatorios:detail_relatorio' relatorio_object.pk %}" style="float:right;">
        <i aria-hidden="true" data-hidden="true" class="fa icon-note" style="color:white;"></i>Voltar ao Relatório</a>
    <div class="row" style="padding-top: 10px;">
        {% for figura in object_list %} {{figura.url}}
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <a target="_blank" href="{{figura.imagem.url}}">
                    <img class="card-img-top" src="{{figura.imagem.url}}" alt="">
                </a>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <p class="card-text content text-justify text-truncate">Legenda: {{figura.legenda}} </p>
                        </div>
                        <div class="col-sm">
                            <p class="card-text content text-justify text-truncate">Referência: {{figura.pk}} </p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm">
                            <a class="btn btn-primary" href="{% url 'relatorios:update_figura' figura.pk %}">
                                <i aria-hidden="true" data-hidden="true" class="fa fa-edit" style="color:white;"></i>Editar</a>
                        </div>
                        <div class="col-sm">
                            <a class="btn btn-danger" style="float:right;" href="{% url 'relatorios:delete_figura' figura.pk %}">
                                <i aria-hidden="true" data-hidden="true" class="fa fa-trash" style="color:white;"></i>Excluir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %} Sem figuras {% endfor %}
    </div>
</div>
{% endblock %}