{% extends "base/base.html" %} {% block conteudo %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body p-4">
    <h2 style="text-align: center;">{{relatorio_object}}</h2>
    <h5 class="text-muted" style="text-align: center;">Inserir pdfs para este relatório</h5>
    <hr>
    {% include "includes/form.html" with form=form %}
    <button type="submit" class="btn btn-primary">Criar</button>
    <a class="btn btn-primary" href="{% url "relatorios:pdf_list" relatorio_object.pk %}">Voltar</a>
    </div>
</form>
{% endblock %}