{% extends "dashboard/index.html" %} {% block main %}
<form action="" method="POST">
  {% csrf_token %}
  <div class="container" style="margin-top: 10px">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h2 style="text-align: center;">Atualizar a Senha</h2>
            <hr>
            <p class="text-muted" style="text-align: center;"></p>
            {% if Erro %}
            <p style="text-align: center; color: red;"> Ocorreu um erro !</p>
            {% endif %} {% for error in form.non_field_errors %}
            <div class="form-group has-errors text-danger small">
              {{error}}
            </div>
            {% endfor %} 
            {% for field in form %}
            <div class="form-group has-errors text-danger small">
              {{field.errors}}
            </div>
            <div class="form-group has-errors text-danger small">
            </div>
            <div class="form-group">
              {{field.label}}
              {{field}}
            </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-warning ">Atualizar senha</button>
            <a class="btn btn-primary " href="{% url 'conta:user_dados'  %}" style="float: right;">Voltar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}