{% extends "dashboard/index.html" %} 
{% block main %}
        <div class="container" style="margin-top: 10px;">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <h2 style="text-align: center;">Conta</h2>
                            <hr>
                            <p class="text-muted" style="text-align: center;"></p>
                                {% if Erro %}
                                <p style="text-align: center; color: red;"> Ocorreu um erro !</p>
                                {% endif %}
                            {% if messages %}
                            
                            {% for message in messages %}
                            <div class='text-muted' role='alert' >
                                <center>{{ message }}</center>
                            </div>
                            {% endfor %}
                                    
                            {% endif %}


                            <div class='form-control'>Nome Completo: {{ request.user.first_name }} </div>
                            <div class='form-control'>Nome Projeto: {{ request.user.last_name }} </div>
                            <div class='form-control'>Email: {{ request.user.email }} </div>
                            <div class='form-control'>Departamento: {{ request.user.departamento|default:"Nenhum" }} </div>
                            <div class='form-control'>Superior: {{ request.user.superior|default:"Nenhum" }} </div>
                            <div class='form-control'>Cargo: {{ request.user.cargo|default:"Nenhum" }} </div>
                            <div class='form-control' id='phone_with_ddd_fixo' >Telefone celular:  <a class='phone_with_ddd -mask'> {{ request.user.telefone_celular }} </a> </div>
                            <br>
                            <a class="btn btn-warning " href="{% url 'user_edit' %}" > Atualizar Dados </a>
                            {% comment %} <a class="btn btn-warning " href="{% url 'perfil_edit' %}" > Atualizar Perfil </a> {% endcomment %}
                            <a class="btn btn-danger " href="{% url 'user_password' %}" > Atualizar Senha </a>
                            <a  href="{% url 'dashboard' %}"  class="btn btn-primary " style="float: right;" >Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}