{% extends "dashboard/index.html" %} {% block main %}
<div class="container" style="margin-top: 10px;">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm">
                    {% if departamentos %}
                    <div class="btn-align"><i class="nav-icon fa fa-sitemap"></i>Organograma das Áreas</div>
                    {% elif hierarquia %}
                    <div class="btn-align"><i class="nav-icon fa fa-sitemap"></i>Organograma Hierárquico</div>
                    {% elif cargolist %}
                    <div class="btn-align"><i class="nav-icon fa fa-sitemap"></i>Organograma das Áreas e Cargos</div>
                    {% endif %}
                </div>
                {% if not departamentos %}
                    {% if 'conta.view_user' in perms %}
                    <div class="col-sm">
                        <select id="selecao" class="form-control-sm" style="float:right;">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">Ações<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <option value="1">Ativos</option>
                                <option value="2">Todos</option>
                            </ul>
                        </select>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <div id="ativos" class="dtree">
                <small>
                    <a href="javascript: d.openAll();">Expandir tudo</a> |
                    <a href="javascript: d.closeAll();">Contrair tudo</a>
                </small>
                {% if hierarquia %}
                <script type="text/javascript">
                    d = new dTree('d');
                    d.add(0, -1, 'Organograma: Árvore Hierárquica');
                    {% for user in hierarquia %}
                    d.add('{{user.id}}', '{{user.superior.id}}', '{{user.first_name}}');
                    {% endfor %}
                    document.write(d);
                </script>
                <!-- SETORES+CARGOS -->
                {% elif cargolist %}
                <script type="text/javascript">
                    d = new dTree('d');
                    d.add(0, -1, 'Organograma: Áreas e Cargos');
                    {% for dep in cargolist %}
                    d.add('{{dep.id}}', '{{dep.superior.id}}', '{{dep.nome}}');
                    {% endfor %}
                    {% for users in all_user_active %}
                    d.add('{{users.id}}', '{{users.departamento.id}}', '{{users.cargo}}: {{users.first_name}}');
                    {% endfor %}
                    document.write(d);
                </script>
                <!-- USUARIOS N ATIVOS -->

                {% elif departamentos %}
                <!-- SETORES -->
                <script type="text/javascript">
                    d = new dTree('d');
                    d.add(0, -1, 'Organograma: Áreas');
                    {% for departamentos in departamentos %}
                    d.add('{{departamentos.id}}', '{{departamentos.superior.id}}', '{{departamentos.nome}}');
                    {% endfor %}
                    document.write(d);
                </script>
                {% endif %}
            
            </div>
            <div id="n_ativos" class="dtree" style="display: none;" >
                <small>
                    <a href="javascript: d.openAll();">Expandir tudo</a> |
                    <a href="javascript: d.closeAll();">Contrair tudo</a>
                </small>
                {% if hierarquia %}
                <script type="text/javascript">
                    n_ativos = new dTree('n_ativos');
                    n_ativos.add(0, -1, 'Organograma: Árvore Hierárquica');
                    {% for user in all_user_not_active %}
                    n_ativos.add('{{user.id}}', '{{user.superior.id}}', '{{user.first_name}}');
                    {% endfor %}
                    document.write(n_ativos);
                </script>
                <!-- SETORES+CARGOS -->
                {% elif departamentos %}
                <script type="text/javascript">
                    n_ativos = new dTree('n_ativos');
                    n_ativos.add(0, -1, 'Organograma: Áreas e Cargos');
                    {% for dep in departamentos %}
                    n_ativos.add('{{dep.id}}', '{{dep.superior.id}}', '{{dep.nome}}');
                    {% endfor %}
                    {% for users in all_user_not_active %}
                    n_ativos.add('{{users.id}}', '{{users.departamento.id}}', '{{users.cargo}}: {{users.first_name}}');
                    {% endfor %}
                    document.write(n_ativos);
                </script>
                <!-- USUARIOS N ATIVOS -->

                {% elif departamentos %}
                <!-- SETORES -->
                <script type="text/javascript">
                    n_ativos = new dTree('n_ativos');
                    n_ativos.add(0, -1, 'Organograma: Áreas');
                    {% for departamentos in departamentos %}
                    n_ativos.add('{{departamentos.id}}', '{{departamentos.superior.id}}', '{{departamentos.nome}}');
                    {% endfor %}
                    document.write(n_ativos);
                </script>
                {% endif %}
            </div>
            <a href="{% url 'conta:dashboard' %}" class="btn btn-primary " style="float: right;">Voltar</a>
        </div>
    </div>
</div>

{% endblock %}